@import "tailwindcss";
html,
body,
#root {
  min-height: 100%;
  background-color: #09090b; 
  color: white;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


.media-gradient {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.4),
    transparent
  );
}


html {
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}